src/openpgp_quantum_guard.config.json
src/QuantumGuard-Logo.jpg
src/QuantumGuard-Main.jpg
data/
output/
logos/
.gnupg/
private-keys-v1.d/
openpgp-revocs.d/
*.gpg
*.pgp
*.asc
*.key
*.p12
*.pfx
*.rev
*.log
*.bak
*.tmp
